@import "../../constants.scss";

.employee-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 280px;
  height: 130px;
  margin-bottom: 30px;
  border: 1px solid $primary-color;
  border-radius: $border-radius;
}
